.container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  min-width: 1024px;
  max-width: 1300px;
  min-height: 400px;
  color: #fff;
  background: #2e3436;
}
.container input {
  color: #000;
}
@media screen and (max-height: 300px) {
  .container {
    max-width: auto;
    background: red !important;
  }
}
