.placeholder::-webkit-input-placeholder {
  color: #6dc1ec;
}
.placeholder::-moz-placeholder {
  color: #6dc1ec;
}
.placeholder:-moz-placeholder {
  color: #6dc1ec;
}
.placeholder:-ms-input-placeholder {
  color: #6dc1ec;
}
.wrapper {
  font-family: 'Open Sans';
  font-size: 6vh;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  min-width: 1024px;
  max-width: 1300px;
  min-height: 400px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background: #2e3436;
  align-items: center;
  justify-content: center;
}
.container {
  display: inline-block;
  padding: 1%;
}
h1 {
  font-weight: 400;
  text-shadow: 1px 1px 5px rgba(0, 108, 144, 0.75);
}
input {
  font-size: 9vh;
  width: 54%;
  margin: 0 3%;
  text-align: center;
  color: #fff;
  border: 2px solid #fff;
  background: #006c90;
  box-shadow: inset 0 0 24px 0 rgba(255, 255, 255, 0.75);
  -moz-appearance: textfield;
}
input::-webkit-input-placeholder {
  color: #6dc1ec;
}
input::-moz-placeholder {
  color: #6dc1ec;
}
input:-moz-placeholder {
  color: #6dc1ec;
}
input:-ms-input-placeholder {
  color: #6dc1ec;
}
input::-webkit-inner-spin-button {
  display: none;
}
.answer {
  font-size: 15vh;
  margin: .67em 0 0 0;
}
@media screen and (max-height: 600px) {
  h1 {
    font-size: 9vh;
    display: inline;
  }
  .answer {
    margin: .33em 0 0 0;
  }
  .wrapper {
    top: 50%;
    max-width: 100%;
    transform: translate(0, -50%);
  }
}
@media screen and (max-height: 400px) {
  h1 {
    font-size: 36px;
  }
  input {
    font-size: 36px;
  }
  .answer {
    font-size: 60px;
  }
}
